table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 0 2em;
}

th, td {
  border: 1px solid var(--black);
  padding: .8em;
  text-align: left;
}

th {
  font-weight: bold;
  color: inherit;
}
